#gridbox {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 20px;
}

.box {
flex-grow: 1;
border: 1px solid green;;
}

.boxY {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}