#gridbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.box {
    border: 0.1px solid palegreen;
    width: 10px;
    height: 10px;
}